

.vscode/

App.config
**/App.config

*.user
*.suo
*.userosscache
*.sln.docstates

.vs/
*.dbmdl

*.InstallLog

*.mdf
*.ldf
*.lock

publish/
*.Publish.xml

*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json
artifacts/

*.log
